@import "fontiran.css";

html {
    scroll-behavior: smooth;
}

body,
body * {
    direction: rtl;
    font-family: "IRANSans" !important;
    font-size: 1rem;
    line-height: normal;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
    text-align: right;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
span {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold !important;
}

.logo img {
    max-width: 43%;
}

.main-menu {
    justify-content: flex-start;
}

.hero-content-one > .row {
    direction: ltr;
}

.main-menu ul li {
    margin-right: initial;
    margin-left: 11px;
}

.main-menu ul li a {
    padding: 0.1rem 0.8rem;
}

.main-menu ul li .sub-menu li > a:hover {
    color: #c02bb0;
    text-decoration: none;
    background-color: #c02bb0;
    color: #fff;
}

.main-menu ul li .sub-menu li > a {
    text-align: right;
}

.main-menu ul li .sub-menu {
    /* border-bottom: 2px solid #832263; */
    left: initial !important;
}

.main-menu ul li .sub-menu li > a {
    padding: 2px 10px;
}

.main-menu .sub-menu li {
    margin: 0;
}

.main-menu li:hover .sub-menu li a {
    border-radius: 0.3rem;
}

/* end of Header */

.slider-text-info {
    text-align: right;
}

.slider-inner-image img {
    max-width: 550px !important;
    margin-right: 6rem;
}

.hero-content-one {
    margin-top: -3rem;
}

#intro-cnt {
    background-image: url("../images/slider/bg-item-1.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    transition: all linear 0.5s;
    z-index: 3;
}

#intro-cnt:hover {
    transition: all linear 0.5s;
    background-size: 60%;
}

.about-us-image img {
    max-width: 550px;
}

/* Created By MAN Start */

.font-8 {
    font-size: 0.8rem;
}

.social-hover {
    opacity: 0.4;
    transition: 0.5s;
}

.social-hover:hover {
    opacity: 1;
    transition: 0.5s;
}

/* Created By MAN End */

.about-us-content .list-group-item {
    background: transparent;
}

#abuPart .container {
    position: relative;
}

#abuPart .container div.bg-item-2 {
    display: flex;
    position: absolute;
    opacity: 0.15;
    transition: all linear 0.3s;
    right: 6rem;
    top: 19rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4rem calc(1.732 * 4rem) 4rem;
    border-color: transparent transparent #92c72b transparent;
    transform-origin: center;
    transform: rotate(-136deg);
}

#abuPart .container:hover div.bg-item-2 {
    /* width: 300px; */
    /* height: 300px; */
    transition: all linear 0.3s;
    border-width: 0 8rem calc(1.732 * 8rem) 8rem;
    transform: rotate(190deg);
    right: 12rem;
    top: 16rem;
}

.list-group-item u {
    font-size: 1.25rem;
}

.about-us-content small {
    font-size: 0.8rem;
}

.section-ptb {
    padding: 55px 0;
}

#scrollUp {
    background-color: #c02bb0;
    border-radius: 0.2rem;
    opacity: 0.3;
    transition: all linear 0.3s;
}

#scrollUp:hover {
    opacity: 1;
    transition: all linear 0.3s;
}

a.downBtn[href="#aboutUsPart"] {
    position: absolute;
    left: -2rem;
    top: 0;
    transform-origin: center;
    transform: rotate(90deg);
    display: block;
    cursor: pointer;
}

a[href="#aboutUsPart"] img {
    width: 2rem;
    opacity: 0.3;
}

#abuPart:hover a[href="#aboutUsPart"] {
    margin-top: 4rem;
    transition: all linear 0.3s;
    transform: rotate(-180deg);
    left: -3.2rem;
}

#abuPart:hover a[href="#aboutUsPart"] img {
    width: 3.2rem;
    opacity: 1;
    -webkit-animation: shake-vertical 3000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s 1 both;
    animation: shake-vertical 3000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s 1 both;
}

#abuPart > div.container > div.row > div:first-child {
    z-index: 1;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-1 12:38:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes shake-vertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }
    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

@keyframes shake-vertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }
    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

.shake-vertical {
    -webkit-animation: shake-vertical 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s infinite both;
    animation: shake-vertical 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.vibrate-1 {
    -webkit-animation: vibrate-1 0.3s 2s linear infinite both;
    animation: vibrate-1 0.3s 2s linear infinite both;
}

div.leefBg {
    position: absolute;
    display: flex;
    width: 50%;
    height: 400px;
    left: 1rem;
    background-image: url("../images/about/leef.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 30%;
}

div.leefBg:nth-child(2) {
    background-size: 10%;
    background-position: center bottom;
    left: 6rem;
    transform: rotate(230deg);
}

#aboutUsPart .bgDotStart:hover + div > a.aniBtn {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

/* flip card */
.card-flip {
    perspective: 1000px;
}

.card-flip:hover .flip,
.card-flip.hover .flip {
    transform: rotateY(180deg);
}

.card-flip,
.front,
.back {
    width: 100%;
    height: 480px;
}

.flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

/* flip card end */

.card {
    background: #f9ffed;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjlmZmVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(45deg, #f9ffed 0%, #ffffff 50%);
    background: -webkit-linear-gradient(45deg, #f9ffed 0%, #ffffff 50%);
    background: linear-gradient(45deg, #f9ffed 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9ffed', endColorstr='#ffffff', GradientType=1);
    border: 0;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(12, 15, 6, 0.2);
    -moz-box-shadow: 0px 0px 1px 0px rgba(12, 15, 6, 0.2);
    box-shadow: 0px 0px 1px 0px rgba(12, 15, 6, 0.2);
    height: 440px;
}

.card-flip .back ul li {
    font-weight: 300;
    font-size: 0.82rem;
}

.the-icons,
.the-icons * {
    font-size: x-small;
}

.the-icons {
    margin-left: 0.5rem;
}

/* div#courses {
  background: #f9ffed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(45deg, #ffffff 0%, #f9ffed 100%);
  background: -webkit-linear-gradient(45deg, #ffffff 0%, #f9ffed 100%);
  background: linear-gradient(45deg, #ffffff 0%, #f9ffed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9ffed',GradientType=1 );
} */

.card-flip.disabled .front .card-block *:not(h4) {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.card-flip.disabled .back .card-block * {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.card-flip.disabled .back:before {
    content: attr(data-disabled);
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
    padding: 0 0.5rem;
    margin: 1rem;
    color: #ec406a;
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 500;
    border-radius: 4px;
    border: solid 1px;
}

#courses .container:before {
    content: "";
    position: absolute;
    right: -10px;
    top: 60px;
    width: 200px;
    height: 200px;
    background-image: url(../images/about/leef.svg);
    background-repeat: no-repeat;
    background-size: 85% auto;
    display: flex;
    transform-origin: center;
    transform: rotate(150deg);
    z-index: 1;
}

#courses .container:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 200px;
    height: 200px;
    background-image: url(../images/about/leef.svg);
    background-repeat: no-repeat;
    background-size: 63% auto;
    display: flex;
    transform-origin: center;
    transform: rotate(-20deg);
    z-index: 1;
}

.card-flip.disabled .back {
    pointer-events: none;
}

#courses .row {
    position: relative;
    z-index: 2;
}

.testimonial-area,
.testimonial-area * {
    direction: ltr;
}

#customersCmnt span.slick-arrow {
    font-size: initial;
}

#customersCmnt span.slick-arrow .bi {
    font-size: 2rem;
}

div#customersCmnt {
    position: relative;
}

div#customersCmnt .container:before {
    content: "";
    position: absolute;
    background-image: url(../images/bg/commentGift.svg);
    background-repeat: no-repeat;
    background-position: 90% 100%;
    background-size: contain;
    width: 100%;
    height: auto;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.2;
}

.testimonial-wrap .testimonial-content {
    background-color: #ffffffb3;
}

.latest-news-area,
.latest-news-area *:not(.slick-slide) {
    direction: ltr;
    background: transparent;
}

.latest-news-area .card-flip,
.latest-news-area .front,
.latest-news-area .back {
    height: auto;
    min-height: 240px;
}

.latest-blog-image.front img {
    height: 100%;
    width: auto;
}

.single-latest-blog,
.single-latest-blog:hover {
    box-shadow: none;
}

.single-latest-blog .front,
.single-latest-blog .back {
    border-radius: 0.25rem;
    overflow: hidden;
}

.latest-news-area #articleBg {
    background-image: url(../images/bg/article.svg);
    display: flex;
    width: 300px;
    height: 300px;
    position: absolute;
    background-size: 180px auto;
    background-repeat: no-repeat;
    background-position: center center;
    top: -80px;
    opacity: 0.3;
    transform-origin: center;
    transform: rotate(30deg);
    justify-self: center;
}

.latest-news-area:hover #articleBg {
    transform: rotate(-30deg);
    background-size: 220px auto;
    top: 0px;
    opacity: 0.15;
}

.latest-news-area #articleBg2 {
    background-image: url(../images/bg/articleBg2.svg);
    display: flex;
    position: absolute;
    width: 700px;
    height: 600px;
    background-size: contain;
    background-position: center;
    top: -30px;
    transform-origin: center;
    transform: rotate(-120deg);
    background-repeat: no-repeat;
    /* opacity: .6; */
}

.latest-news-area:hover #articleBg2 {
    transform: rotate(0deg);
    top: -80px;
    /* opacity: .3; */
}

.latest-blog-cont.back {
    background: #c6b5ff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYzZiNWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, #c6b5ff 0%, #ffffff 100%);
    background: -webkit-linear-gradient(45deg, #c6b5ff 0%, #ffffff 100%);
    background: linear-gradient(45deg, #c6b5ff 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6b5ff', endColorstr='#ffffff', GradientType=1);
}

.latest-blog-active .slick-arrow.slick-next {
    right: -1.2rem;
}

.latest-blog-active .slick-arrow {
    left: -1.2rem;
}

.latest-blog-active .slick-arrow .bi {
    font-size: 2rem;
}

.footer-bg {
    background: #2b1e51;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiMyYjFlNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiMyYjFlNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjM2EzNDQwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(
            left,
            #2b1e51 33%,
            #2b1e51 33%,
            #3a3440 100%
    );
    background: -webkit-linear-gradient(
            left,
            #2b1e51 33%,
            #2b1e51 33%,
            #3a3440 100%
    );
    background: linear-gradient(to right, #2b1e51 33%, #2b1e51 33%, #3a3440 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b1e51', endColorstr='#3a3440', GradientType=1);
}

ul.footer-list li:nth-child(3) {
    direction: ltr;
}

/* responsive codes */
@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .mobile-menu .mean-bar {
        padding-top: 35px;
    }

    .mobile-menu .mean-bar .meanmenu-reveal {
        top: 0px;
        left: initial !important;
        float: initial;
        right: 0px !important;
    }

    .is-sticky .inner-header .meanmenu-reveal {
        top: 0px !important;
    }

    .is-sticky .forMobile .mean-bar {
        position: absolute;
    }

    .mobile-menu .loginPart {
        right: 34px;
        top: -2px;
    }

    .mobile-menu .loginPart .demo-icon {
        font-size: 1.1rem !important;
        line-height: normal;
    }

    .mobile-menu .loginPart small {
        font-size: x-small;
    }
    .forMobile .logoWrp {
        left: 15px;
        top: -1px;
    }
    
    .forMobile .logoWrp img {
        height: 1.5rem;
        width: auto;
        max-width: initial;
    }
    
    .is-sticky .inner-header {
        height: 2.4rem;
    }
    .hero-content-one {
        margin-top: -10rem;
    }
    
    div#intro-cnt {
        position: absolute;
        top: initial;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .hero-slider-1 .single-slide .slider-inner-image img {/* margin-top: -10rem; */opacity: .4;}
    
    .hero-slider-1 .single-slide .slider-inner-image {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 5rem;
    }
   
    
    .hero-slider-1 .single-slide .slider-text-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .btn {
        padding: 0.4rem 1rem;
        font-size: 1.2rem;
        margin-top: 2rem !important;
    }
    #homePage a.downBtn {
    right: initial;
    bottom: -4rem;
    transform: rotate(180deg);
}

#homePage a.downBtn img {
    opacity: 1;
    width: 3rem;
}
.hero-slider-1 .single-slide {
    background-image: none;
    height: 100vh;
}
#abuPart ul.list-group li {
    text-align: center;
}

#abuPart .about-us-wrap {
    margin: 0;
}

#abuPart .container div.bg-item-2 {
    /* left: 0rem; */
    right: 13rem;
    top: 18rem;
    border-width: 0 3rem calc(1.732 * 3rem) 3rem;
}

#abuPart .container:hover div.bg-item-2 {
    right: 5rem;
    top: initial;
    bottom: 0;
    border-width: 0 4.5rem calc(1.732 * 4.5rem) 4.5rem;
}
.about-us-content small {
    max-width: 60%;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#abuPart a[href="#aboutUsPart"] {
    left: initial;
    right: initial;
}

#abuPart:hover a[href="#aboutUsPart"] {
    left: initial;
}
.mobile-menu .mean-bar .mean-nav > ul li a {
    margin-top: 0 !important;
    border-top: 0;
}
/* annimation */
 @-webkit-keyframes shadow-inset-center {
    0% {
      background-color:rgba(0, 0, 0, 0);
  
    
    }
    100% {
      background-color:rgba(70, 0, 130, 0.5);
      border-color:transparent;
    }
  }
  @keyframes shadow-inset-center {
    0% {
      background-color:rgba(0, 0, 0, 0);
      color:rgb(75, 0, 130);
      
    }
    100% {
      background-color:rgba(70, 0, 130, 0.5);
      border-color:transparent;
    }
  }
  
  .aniBtn {
      -webkit-animation: shadow-inset-center 0.6s ease-in-out infinite alternate both;
              animation: shadow-inset-center 0.6s ease-in-out infinite alternate both;
  }
  #homePage a.downBtn[href="#courses"] {
    display: none;
}

.card-flip {
    margin-bottom: 3rem;
}

.card {
    height: auto;
    min-height: 515px;
}

#customersCmnt span.slick-arrow {
    opacity: 1;
    visibility: initial;
    top: 13rem;
    margin: 0.5rem;
}

#customersCmnt span.slick-arrow .bi {
    border-radius: 50%;
    background-color: #92c72b;
}

.latest-news-area #articleBg2 {
    width: 300px;
    height: 400px;
    transform: rotate(0deg);
}

.latest-news-area:hover #articleBg2 {
    transform: rotate(-100deg);
}

}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .logo img {
        max-width: 80%;
    }

    .hero-slider-1 .single-slide .slider-text-info {
        margin-top: 200px;
    }

    .slider-inner-image {
        opacity: 0.5;
    }
}

/* end of responsive codes */

.footer-info .social {
    direction: ltr;
}

.social a {
    font-size: initial !important;
}

.social i {
    font-size: 1.2rem;
}

.footer-info .social li {
    margin: 0;
}

.footer-info .social li a:hover {
    color: #c02bb0;
}

.blog-inner li {
    display: flex;
    align-items: center;
}

.blog-inner li,
.blog-inner li * {
    font-size: small;
}

.rating_send a {
    text-decoration: none;
    border: 0;
    margin: 0;
    justify-self: flex-end;
}

.review_info,
.review_info > *,
.review_info > * > * {
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: 500;
    margin: 0 0.2rem;
}

/* created by MoraCoder */

.breadcrumb-area {
    background: url("../images/bg/breadcrumb.png") repeat scroll 0 0;
    text-align: center;
}

.single-contact-info .contact-info a {
    direction: ltr;
}

.blog-sidebar ul li a span {
    float: left;
}

/* end of created by MoraCoder */

.single-slide .downBtn,
.about-us-area .downBtn {
    left: initial;
    top: inherit;
    position: absolute;
    right: 60%;
    bottom: 11rem;
    transform-origin: center;
    transform: rotate(270deg);
    cursor: pointer;
    z-index: 9;
}

.about-us-area .downBtn {
    right: 30%;
    bottom: 18.5rem;
}

.single-slide:hover .downBtn,
.about-us-area:hover .downBtn {
    right: 50%;
    bottom: 2rem;
    transform: rotate(-180deg);
}

.single-slide:hover .downBtn img,
.about-us-area:hover .downBtn img {
    width: 3.2rem;
    opacity: 1;
    -webkit-animation: shake-vertical 3000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s 1 both;
    animation: shake-vertical 3000ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s 1 both;
}

.downBtn img {
    width: 2rem;
    opacity: 0.3;
    height: auto;
}

/*Created by MoraCoder*/
div.blog-sidebar.mb--30.row p{
    font-size: 0.7rem;
}

div.blog-sidebar.mb--30.row span,div.blog-sidebar.mb--30.row del{
    font-size: 0.7rem;
}

div.blog-sidebar-wrap h3{
    font-size:14px;
    font-weight: normal !important;
}

button.text-right img:first-of-type{
    width: 50px;
}

button.text-right img:last-of-type{
    width: 18px;
}

div.text-right.w-100 div.card.card-body {
    max-height: fit-content;
}
/* end of created by MoraCoder */
